html{    
background:url("../images/positive.png");
}
.NavBar{
    float:top;
    width:100%;
    background:white;
    padding:20px 20px 20px 40px;
    margin-top:-20px;
    margin-right:25px;
    border:solid;
    border-color:#cccccc;
}   
#myName{
    background:#4aaaa5;
    font-family: 'Georgia', 'Times New Roman', serif;
    margin-right:443px;
    margin-left: 337px;
    color:white;
    display:inline; 
    font-size:36px;
    padding:10px 10px 10px 10px;


}
#nav1{
    font-size: 22px;
color:#777777;
}
#nav2{
    font-size: 22px;
    color:#777777
}
#nav3{
    font-size: 22px;
    color:#777777;
}

.content{
    height:1800 px;

}
.contentSection{
    width:960px;
    height:630px;
    margin-left: 380px;
    margin-top:150px;
    background:#ffffff;
    border:solid;
    border-color:#dddddd;

}



#about{
    clear:left;
    font-size:28px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color:#4aaaa5;
    margin: 50px 0 0 60px;
    padding-top: 55px;
    padding-bottom: 25px;  
    border-bottom:solid;
    border-color:rgb(165, 170, 170);   
}
#pictureOfMe{
    margin-left:60px;
    margin-top:15px;
    float:left;
   
    
}
#p01{
    font-style:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    margin:175px 0 15px 50px;
    
}